@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #292929;
    --yellow-color: #d4aa11;
    --darker-yellow-color: #b6910c;
    --secondaryInfo: #7c7c7c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.blurred {
    filter: blur(10px);
}

.wrapper {
    min-height: 100vh;
    /* background-color: var(--dark-color); */
    background: rgb(22,22,22);
    background: linear-gradient(90deg, rgba(22,22,22,1) 20%, rgba(27,26,26,1) 35%, rgba(42,42,42,1) 50%, rgba(27,26,26,1) 65%, rgba(22,22,22,1) 80%);
}

/*? Search Container =====================================*/
.wrapper .container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.search-container {
    background-color: var(--md-dark-color);
    padding: 1rem 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
    cursor: pointer;
}

.logo-img {
    width: 48px;
}

.logo p {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.logo p span {
    color: var(--yellow-color);
}

.search-element {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.search-element h3 {
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
}

.search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 400px;
    overflow-y: scroll;
    z-index: 10;
}

.search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    /* width: calc(350px -8px); */
    width: 350px;
    color: #fff;
    cursor: pointer;
    transform: background-color 200ms ease;
}

.search-list .search-list-item:hover {
    background-color: #1f1f1f;
}

.search-list-item {
    display: flex;
    align-items: center;
}

.search-item-thumbnail img {
    width: 40px;
    margin-right: 1rem;
}

.search-item-info h3 {
    font-weight: 600;
    font-size: 1rem;
}

.search-item-info p {
    font-size: 0.8rem;
    margin-top: .5rem;
    font-weight: 600;
    opacity: .6;
}

/* thumbnail */
.search-list::-webkit-scrollbar {
    width: 8px;
}

.search-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
}

/* js related class */
.hide-search-list {
    display: none;
}

/*? movie result =====================================*/
.movieDetails {
    min-height: 45vh;
}

.result-container {
    padding: 4rem 0;
}

.result-container .add-remove {
    background-color: var(--yellow-color);
    position: absolute;
    padding: 0.7rem 0.9rem;
    left: 15.2rem;
    /* top: 1.9rem; */
    /* transform: translateY(-50%); */
    transition: opacity 0.3s ease;
}

.result-container .add-remove:hover {
    background-color: var(--darker-yellow-color);
    cursor: pointer;
}

.movie-poster img {
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;
}

.movie-info {
    text-align: center;
    color: #fff;
    padding-top: 3rem;
}

/* movie info styling */
.movie-title {
    font-size: 2rem;
    color: var(--yellow-color);
}

.movie-misc-info {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
    color: var(--secondaryInfo);
}

.movie-misc-info li {
    padding-right: 2em;
}

.movie-info .year {
    font-weight: 500;
}

.movie-info .rated {
    background-color: var(--yellow-color);
    padding: .4rem;
    margin: 0 .4rem;
    border-radius: 3px;
    font-weight: 600;
}

.movie-info .released {
    font-size: .9rem;
    opacity: .9;
}

.movie-info p {
    padding: .3rem;
    margin: .8rem 0;
}

.movie-info .genre {
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: .5rem;
    border-radius: 3px;
    margin: .8rem 0 .5rem 0;
}

.movie-info .plot {
    max-width: 400px;
    margin: 1rem auto;
}

.movie-info .language {
    color: var(--yellow-color);
    font-style: italic;
}

.movie-info .awards {
    font-weight: 300;
    font-size: .9rem;
}

.movie-info .awards i {
    color: var(--yellow-color);
    margin-right: .2rem;
}

.movie-info .ratings {
    display: flex;
    margin: 1rem auto;
}

.movie-info .brand {
    display: flex;
    align-items: center;
    width: 16%;
    margin-right: 2rem;
    white-space: nowrap;
}

.movie-info .brand img {
    width: 28px;
}

.movie-info .brand p {
    margin: 0 .3rem;
    text-align: center;
}

/*? Watchlist Section ====================================================*/
.watchlist {
    margin: 5rem auto;
}

.watchlist-wrapper {
    width: 60%;
    margin: 0 auto;
}

.watchlist-wrapper .title-container {
    display: flex;
    justify-content: space-between;
}

.watchlist-wrapper h3 {
    color: white;
    font-size: 25px;
}

.watchlist-wrapper p {
    color: white;
    font-size: 15px;
    margin-top: 1rem;
}

.watchlist-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 1rem auto;
    padding: 2rem .8rem;
    overflow-x: auto;
    white-space: nowrap;
    border: solid 1px var(--secondaryInfo);
    border-radius: .5rem;
}

.watchlist-container .movie-misc-info li {
    padding-right: 0;
    padding-left: 2.2em;
}

.watchlist-container .movie-poster {
    width: 150px;
    height: 222px;
    cursor: pointer;
}

.watchlist-container .movie-poster img {
    max-width: 130px;
    border: none;
    border-radius: 0 1rem 1rem 1rem;
}

.watchlist-container .movie-thumbnail {
    width: 100%;
    margin: .5rem 0;
    padding: 1rem 0;
    cursor: auto;
    /* position: relative; */
    border-bottom: solid 1px var(--secondaryInfo);
}

.watchlist-container .info-title-wrapper {
    display: flex;
    max-height: 180px;
}

.watchlist-container .movie-info {
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
    padding: 1rem .5rem .3rem .8rem;
}

.watchlist-container .movie-title-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 28px;
    cursor: pointer;
}

.watchlist-container .counter {
    padding-right: 1rem;
}

.watchlist-container h4 {
    padding: 0 !important;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.watchlist .movie-thumbnail p {
    margin: 0;
    padding: 0 .5rem .5rem .8rem !important;
    font-weight: 300;
}

.watchlist .movie-thumbnail .movie-info {

    background-color: var(--light-dark-color);
    border-radius: 0 0 .3rem .3rem;
}

.watchlist-container .add-remove {
    background-color: var(--yellow-color);
    position: absolute;
    padding: 0.3rem 0.5rem;
    left: .7rem;
    top: 1.9rem;
    transform: translateY(-50%);
    /* opacity: 0; */
    transition: opacity 0.3s ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.watchlist-container .add-remove:hover {
    background-color: var(--darker-yellow-color);
}

.watchlist-container .plot {
    min-height: 70px;
    max-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.watchlist-container .movie-info-extended p {
    padding: 0 .8rem !important;

}

.watchlist-container .people {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.watchlist-container .people b{
    font-weight: bold;
}

/*? Search History ====================================================*/
.search-history {
    margin: 5rem auto;
}

.search-history-wrapper {
    width: 60%;
    margin: 0 auto;
}

.search-history-wrapper .title-container {
    display: flex;
    justify-content: space-between;
}

.search-history-wrapper h3 {
    color: white;
    font-size: 25px;
}

.search-history-wrapper .clear-history {
    color: #ffffff7c;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.clear-history:hover {
    color: #ffffff98;
}

.history-container {
    display: flex;
    justify-content: left;
    margin: 1rem auto;
    padding: 2.5rem 0;
    overflow-x: auto;
    white-space: nowrap;
}

.history-container::-webkit-scrollbar {
    width: 4px;
}

.history-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.history-container::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
}

.history-container .movie-poster {
    width: 150px;
    height: 222px;
}

.history-container .movie-poster img {
    max-width: 150px;
    border: none;
}

.movie-thumbnail {
    margin-right: 2rem;
    cursor: pointer;
    position: relative;
}

.history-container .movie-info {
    max-width: 150px;
}

.movie-thumbnail h4 {
    padding: 1rem .5rem .3rem .8rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.movie-thumbnail p {
    margin: 0;
    padding: 0 .5rem .5rem .8rem !important;
    font-weight: 300;
}

.movie-thumbnail .movie-info {

    background-color: var(--light-dark-color);
    border-radius: 0 0 .3rem .3rem;
}

.delete-movie {
    background-color: rgba(0, 0, 0, 0.247);
    position: absolute;
    padding: 0.3rem 0.5rem;
    right: 0;
    top: 4%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movie-thumbnail:hover .delete-movie {
    opacity: 1;
}

.delete-movie:hover {
    color: rgb(207, 0, 0);
    background-color: rgba(104, 104, 104, 0.308);
}

/*? responsive styles ==========================================*/
@media(max-width: 450px) {
    .logo p {
        font-size: 1.4rem;
    }

    .search-element .form-control {
        width: 90%;
        margin: 0 auto;
        padding: .5rem 1rem;
    }

    .search-element h3 {
        font-size: 1.4rem
    }

    .search-list {
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }

    .search-list .search-list-item {
        width: 100%;
    }

    .movie-misc-info {
        flex-direction: column;
    }

    .movie-misc-info li:nth-child(2) {
        margin: .8rem 0;
    }

    .search-history-wrapper {
        width: 80%;
    }

    .search-history-wrapper .title-container {
        flex-direction: column;
    }

    .clear-history {
        text-align: right;
    }

    .history-container .movie-info {
        padding: 0;
    }

    .history-container .movie-info p,
    .history-container .movie-info h4 {
        text-align: left;
    }

    .movie-info .ratings {
        justify-content: center;
    }
}

@media(min-width: 800px) {
    .search-element {
        flex-direction: row;
    }

    .search-element h3 {
        margin-bottom: 0;
    }

    .result-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .movie-info {
        text-align: left;
        padding-top: 0;
    }

    .movie-info .movie-misc-info {
        justify-content: flex-start;
        padding-left: 0;
    }

    .movie-info .plot {
        margin-left: 0;
    }

    .movie-info p {
        padding-left: 0;
        margin-left: 0;
    }
}